# =========================================
# General (Windows/macOS/IDEs)
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp


# VS Code
.vscode/

# =========================================
# Node.js & Next.js (nook-server + Next frontend)
node_modules/
dist/
.cache/
.next/
out/



=======
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/
*.txt
*.csv

# =========================================
# Flutter (nook-flutter)
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/*.iml
android/key.properties
**/android/app/.cxx/

# API credentials and sensitive configuration files
.env
.env.local
.env.production

# Python environment
venv/
__pycache__/
*.pyc
*.pyo

# birk-tracker intermediate output
invoice.json

# Misc
*.iml
*.lock
.idea/
DB_Schema.sql

.vercel
schema.sql
